# Mac OS X
.DS_Store
*.app

# Windows
*.dll
*.exe

# Love
*.love
*.zip

# Sublime
*.sublime-workspace
# These aren't cross platform safe.
*.sublime-project

# Generated debugging files.
src/dots/*.png
src/dots/*.dot
